<app-navbar></app-navbar>
<form class="row cont0 needs-validation" #loginForm="ngForm">
    <div class="row p-0 m-0" >
        <div *ngIf="show_form" class="p-0" [ngClass]="{'c200': !this.show_map, 'c20': this.show_map}"> 
            <div class="cont1">
                <div class="row c1">
                    <div class="col-12">
                        <div class="row pb-3">
                            <div class="col-8 d-flex"> 
                                <h2 class="pe-3">{{ 'device' | translate }} {{devices.uid}}</h2>
                            </div>
                            <div class="col-3 d-flex justify-content-end"> 
                                <div class="form-check form-switch">
                                    <label class="toggle tt1 t1">
                                        <input type="checkbox" (ngModelChange)="changed=true" name="enable" [(ngModel)]="devices.enable">
                                        <span class="slider"></span>
                                        <ng-container *ngIf="this.activeLang=='es'">
                                            <span class="labels t1" data-on="Activado" data-off="Desactivado"></span>
                                        </ng-container>
                                        <ng-container *ngIf="this.activeLang=='en'">
                                            <span class="labels t1" data-on="Enable" data-off="Disable"></span>
                                        </ng-container>
                                    </label>
                                </div>
                            </div> 
                            <div class="col-1" style="cursor: pointer; display: flex; justify-content: flex-end;">
                                <svg class="text-right" *ngIf="show_map" (click)="showMap()" xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-arrows-angle-show" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"></path>
                                </svg>
                                <svg class="text-right" *ngIf="!show_map" (click)="hideMap()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrows-angle-hide" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
                                </svg>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-md-3">

                                <label for="uid">{{ 'devices.edit.uid' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.uid }}" type="text" id="uid" class="form-control" name="uid" [(ngModel)]="devices['uid']" required type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['uid'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['uid'].errors['required']">{{ 'devices.edit.uid' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['uid'].errors['email']">Invalid {{ 'devices.edit.uid' | translate }}.</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="alias">{{ 'devices.edit.alias' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.alias }}" type="text" id="alias" class="form-control" name="alias" [(ngModel)]="devices['alias']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['alias'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['alias'].errors['required']">{{ 'devices.edit.alias' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['alias'].errors['email']">Invalid {{ 'devices.edit.alias' | translate }}.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="organizationid">{{ 'devices.edit.organization' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.organizationid }}" type="text" id="organizationid" class="form-control" name="organizationid" [(ngModel)]="devices['organizationid']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['organizationid'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['organizationid'].errors['required']">{{ 'devices.edit.organization' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['organizationid'].errors['email']">Invalid {{ 'devices.edit.organization' | translate }}.</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="typemeter">{{ 'devices.edit.typemeter' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.typemeter }}" type="text" id="typemeter" class="form-control" name="typemeter" [(ngModel)]="devices['typemeter']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['typemeter'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['typemeter'].errors['required']">{{ 'devices.edit.typemeter' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['typemeter'].errors['email']">Invalid {{ 'devices.edit.typemeter' | translate }}.</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="application_id">{{ 'devices.edit.aplication' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.application_id }}" type="text" id="application_id" class="form-control" name="application_id" [(ngModel)]="devices['application_id']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['application_id'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['application_id'].errors['required']">{{ 'devices.edit.aplication' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['application_id'].errors['email']">Invalid {{ 'devices.edit.aplication' | translate }}.</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="topic_name">{{ 'devices.edit.topic' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.topic_name }}" type="text" id="topic_name" class="form-control" name="topic_name" [(ngModel)]="devices['topic_name']" required type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['topic_name'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['topic_name'].errors['required']">{{ 'devices.edit.topic' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['topic_name'].errors['email']">Invalid {{ 'devices.edit.topic' | translate }}.</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label for="origin">{{ 'devices.edit.origin' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.origin }}" type="text" id="origin" class="form-control" name="origin" [(ngModel)]="devices['origin']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['origin'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['origin'].errors['required']">{{ 'devices.edit.origin' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['origin'].errors['email']">Invalid {{ 'devices.edit.origin' | translate }}.</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="description_origin">{{ 'devices.edit.description' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.description_origin }}" type="text" id="description_origin" class="form-control" name="description_origin" [(ngModel)]="devices['description_origin']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['description_origin'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['description_origin'].errors['required']">{{ 'devices.edit.description' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['description_origin'].errors['email']">Invalid {{ 'devices.edit.description' | translate }}.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row c2">
                    <div class="col-12 "> 
                        <app-sensors-list></app-sensors-list>
                    </div> 
                </div>
            </div>
        </div>

        <div *ngIf="show_map" class="p-0" [ngClass]="{'c200': !this.show_form, 'c20': this.show_form}">
            <div class="cont2 ms-lg-3 ms-0 ms-md-0" >
                <div class="c4 d-flex justify-content-between">
                    <div class="col-3" (click)="recharge()" style="cursor: pointer;">
                        <svg *ngIf="!view_rec" (mouseover)="view_rec=true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                        </svg>
                        <p *ngIf="view_rec" (mouseout)="view_rec=false" class="m-0">{{ 'devices.edit.rest' | translate }}</p>
                    </div>
                    <div class="col-6" >
                        <h5 class="text-center">{{devices.alias}}</h5>
                    </div>
                    <div class="col-3" style="cursor: pointer; cursor: pointer; display: flex; justify-content: flex-end;">
                        <svg class="text-right" *ngIf="show_form" (click)="hideForm()" xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-arrows-angle-show" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"></path>
                        </svg>
                        <svg class="text-right" *ngIf="!show_form" (click)="showForm()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrows-angle-hide" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
                        </svg>
                    </div>  
                </div>	

                <div class="c5 p-0 m-0" style="width: 100%;">
                    <app-devices-edit-map style="width: 100%;"></app-devices-edit-map>
                </div>

                <div class="row c6">
                    <div class="col-12 col-lg-6 col-md-12 col-12"> 
                        <div class="row">
                            <div class="col-md-4">
                                <label for="lat">{{ 'devices.edit.lat' | translate }}</label>
                                <input (ngModelChange)="changed=true" value="{{ devices.lat }}" type="text" id="lat" class="form-control" name="lat" [(ngModel)]="devices['lat']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['lat'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['lat'].errors['required']">{{ 'devices.edit.lat' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['lat'].errors['email']">Invalid {{ 'devices.edit.lat' | translate }}.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="lon">{{ 'devices.edit.long' | translate }}</label>
                                <input (ngModelChange)="updatesharedLon()" value="{{ devices.lon }}" type="text" id="lon" class="form-control" name="lon" [(ngModel)]="devices['lon']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['lon'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['lon'].errors['required']">{{ 'devices.edit.long' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['lon'].errors['email']">Invalid {{ 'devices.edit.long' | translate }}.</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="cota">{{ 'devices.edit.alt' | translate }}</label>
                                <input (ngModelChange)="updatesharedLat()" value="{{ devices.cota }}" type="text" id="cota" class="form-control" name="cota" [(ngModel)]="devices['cota']" type>
                                <div *ngIf="loginForm.submitted && loginForm.controls['cota'].errors" class="text-danger">
                                    <div *ngIf="loginForm.controls['cota'].errors['required']">{{ 'devices.edit.alt' | translate }} is required.</div>
                                    <div *ngIf="loginForm.controls['cota'].errors['email']">Invalid {{ 'devices.edit.alt' | translate }}.</div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 col-lg-6 col-md-12 col-12"> 
                        <label for="timezone" class="form-label m-0">{{ 'devices.edit.zone' | translate }}</label>
                        <select class="form-select" aria-label="Default select example"(ngModelChange)="changed=true" value="{{ devices.timezone }}" type="text" id="timezone" class="form-control" name="timezone" [(ngModel)]="devices['timezone']" type>
                            <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
                            <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
                            <option value="-10:00">(GMT -10:00) Hawaii</option>
                            <option value="-09:50">(GMT -9:30) Taiohae</option>
                            <option value="-09:00">(GMT -9:00) Alaska</option>
                            <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                            <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                            <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                            <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                            <option value="-04:50">(GMT -4:30) Caracas</option>
                            <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                            <option value="-03:50">(GMT -3:30) Newfoundland</option>
                            <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                            <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
                            <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
                            <option value="+00:00">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                            <option value="+01:00" selected="selected">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
                            <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                            <option value="+03:50">(GMT +3:30) Tehran</option>
                            <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                            <option value="+04:50">(GMT +4:30) Kabul</option>
                            <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                            <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                            <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
                            <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                            <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
                            <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                            <option value="+08:75">(GMT +8:45) Eucla</option>
                            <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                            <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
                            <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                            <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
                            <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                            <option value="+11:50">(GMT +11:30) Norfolk Island</option>
                            <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                            <option value="+12:75">(GMT +12:45) Chatham Islands</option>
                            <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
                            <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
                        </select>
                        <div *ngIf="loginForm.submitted && loginForm.controls['timezone'].errors" class="text-danger">
                            <div *ngIf="loginForm.controls['timezone'].errors['required']">{{ 'devices.edit.zone' | translate }} is required.</div>
                            <div *ngIf="loginForm.controls['timezone'].errors['email']">Invalid {{ 'devices.edit.zone' | translate }}.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-0 m-0">
        <div class="col-12 p-0">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="row">
                        <div class="col-md-6 col-12 mt-1 pb-3">
                            <button *ngIf="changed==false || this.saved==true" type="button navb" class="btn btn-secondary text-light navb" routerLink="/devices" style="width: 100%">{{ 'sensors.exit' | translate }}</button>
                            <button *ngIf="changed==true && this.saved==false" type="button navb" class="btn btn-secondary text-light navb" style="width: 100%" data-bs-toggle="modal" data-bs-target="#exampleModal8">Restablecer datos</button>
                        </div>
                        <div class="col-md-6 col-12 mt-1 pb-3">
                            <button ng-click="ocultar = true" type="button navb" class="btn btn-info navb me-3" style="width: 100%"  (click)="editDevices(loginForm)" [ngClass]="{'disabled': !changed}">{{ 'sensors.save' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 d-flex" style="justify-content: flex-end;">
                    <div class="col-md-6 col-12 mt-1 pb-3">
                        <button type="button" class="btn btn-danger navb me-3" data-bs-toggle="modal" style="width: 100%" data-bs-target="#exampleModal9">{{ 'devices.edit.erase_disp' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="toast-cont">
    <div *ngIf="act_ok" class="top-0 end-0 p-3">
        <div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body"> {{ 'devices.edit.e1' | translate }}</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        </div>
    </div>
    <div *ngIf="act_not" class="top-0 end-0 p-3">
        <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
            <div class="toast-body">{{ 'devices.edit.e2' | translate }}</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px;">
                <h3 class="modal-title">Restablecer los datos?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <p class="not">Esta acción es irréversible.</p>
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <div class="row">
                    <div class="col-7">
                        <button style="width: max-content;" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="recharge()">Restablecer datos</button>
                    </div>
                    <div class="col-5">
                        <button type="button navb" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="btn btn-info" style="width: 100%" [ngClass]="{'disabled': !changed}">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px;">
                <h3 class="modal-title">{{ 'devices.edit.m1.1' | translate }}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <p class="not">{{ 'devices.edit.m1.2' | translate }}</p>
            </div>
            <div class="modal-footer" style="border-top: 0px;">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">{{ 'sensors.cancel' | translate }}</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteDevice(devices.id)" routerLink="/devices">{{ 'sensors.deleteDevice' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

