<div class="row cont0">
    <div class="row p-0 m-0">
        <div *ngIf="mostrar3" class="p-0" [ngClass]="{'c200': !this.mostrar, 'c20': this.mostrar}"> <!-- Devices -->
            <div class="cont1">

                <div class="row c1">
                    <div class="col-12">
                        <div class="row pb-3">
                            <div class="col-8"> 
                                <h2>{{ 'sensors.t1' | translate }} {{contenido.uid}}</h2>
                                    <div *ngIf="act_ok" class="alert alert-success me-3 py-1" role="alert">
                                    {{ 'devices.edit.e1' | translate }}
                                  </div>
                                  <div *ngIf="act_not" class="alert alert-success me-3 py-1" role="alert">
                                    {{ 'devices.edit.e2' | translate }}
                                  </div>
                            </div>
                            <div class="col-3 d-flex justify-content-end"> 
                                <div class="form-check form-switch">
                                    <label class="toggle tt1 t1" (click)="enable()">
                                        <input type="checkbox" (ngModelChange)="change=true" [(ngModel)]="contenido.enable">
                                        <span class="slider"></span>
                                        <ng-container *ngIf="this.activeLang=='es'">
                                            <span class="labels t1" data-on="Activado" data-off="Desactivado"></span>
                                        </ng-container>
                                        <ng-container *ngIf="this.activeLang=='en'">
                                            <span class="labels t1" data-on="Enable" data-off="Disable"></span>
                                        </ng-container>
                                    </label>
                                </div>
                            </div> 
                            <div class="col-1" style="cursor: pointer; display: flex; justify-content: flex-end;">
                                <svg class="text-right" *ngIf="mostrar" (click)="mostrar=false" xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"></path>
                                </svg>
                                <svg class="text-right" *ngIf="!mostrar" (click)="mostrar=true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
                                </svg>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label for="uid" class="form-label">{{ 'devices.edit.uid' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="uid" name="uid" [(ngModel)]="contenido.uid">
                            </div>
                            <div class="col-md-3">
                                <label for="alias" class="form-label">{{ 'devices.edit.alias' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="alias" name="alias" [(ngModel)]="contenido.alias">
                            </div>
                            <div class="col-md-6">
                                <label for="organizationid" class="form-label">{{ 'devices.edit.organization' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="organizationid" name="organizationid" [(ngModel)]="contenido.organizationid">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="typemeter" class="form-label">{{ 'devices.edit.typemeter' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="typemeter" name="typemeter" [(ngModel)]="contenido.typemeter">
                            </div>
                            <div class="col-md-3">
                                <label for="application_id" class="form-label">{{ 'devices.edit.aplication' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="application_id"  name="application_id" [(ngModel)]="contenido.application_id">
                            </div>
                            <div class="col-md-3">
                                <label for="topic_name" class="form-label">{{ 'devices.edit.topic' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="topic_name" name="topic_name" [(ngModel)]="contenido.topic_name">
                            </div>
                               
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="origin" class="form-label">{{ 'devices.edit.origin' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="origin" name="origin" [(ngModel)]="contenido.origin">
                            </div>
                            <div class="col-md-6">
                                <label for="description_origin" class="form-label">{{ 'devices.edit.description' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="description_origin" name="description_origin" [(ngModel)]="contenido.description_origin">
                            </div>
                        </div>


                    </div>
                
                </div>

                <div class="row c2">
                    <div class="col-12 "> 
                        <app-devices-sensors-list></app-devices-sensors-list>
                    </div> 
                </div>
                

            </div> <!-- end Devices -->
        </div>

        <div *ngIf="mostrar" class="p-0" [ngClass]="{'c200': !this.mostrar3, 'c20': this.mostrar3}">
            <div class="cont2 ms-lg-3 ms-0 ms-md-0" > <!-- Devices -->

                <div class="c4 d-flex justify-content-between">
                    <div class="col-3" (click)="recargar()" style="cursor: pointer;">
                        <svg *ngIf="!ver_rec" (mouseover)="ver_rec=true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                        </svg>
                        <p *ngIf="ver_rec" (mouseout)="ver_rec=false" class="m-0">{{ 'devices.edit.rest' | translate }}</p>
                    </div>
                    <div class="col-6" >
                        <h5 class="text-center">{{contenido.alias}}</h5>
                    </div>
                    <div class="col-3" style="cursor: pointer; cursor: pointer; display: flex; justify-content: flex-end;">
                        <svg class="text-right" *ngIf="mostrar3" (click)="mostrar3=false" xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"></path>
                        </svg>
                        <svg class="text-right" *ngIf="!mostrar3" (click)="mostrar3=true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
                        </svg>
                    </div>  
                </div>	

                <div class="c5 p-0 m-0" >
                    <img src="https://web.ua.es/ar/sigua/imagenes/carrusel/sigua.png" height="100%" style="width: 100%">
                </div>

                <div class="row c6">
                    <div class="col-12 col-lg-6 col-md-12 col-12"> 
                        <div class="row">
                            <div class="col-md-4">
                                <label for="lat" class="form-label">{{ 'devices.edit.long' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="lat"  name="lat" [(ngModel)]="contenido.lat">
                            </div>
                            <div class="col-md-4">
                                <label for="lon" class="form-label">{{ 'devices.edit.lat' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" class="form-control" id="lon"  name="lon" [(ngModel)]="contenido.lon">
                            </div>
                            <div class="col-md-4">
                                <label for="cota" class="form-label">{{ 'devices.edit.alt' | translate }}</label>
                                <input (ngModelChange)="change=true" type="text" value="10" class="form-control" id="cota" name="cota" [(ngModel)]="contenido.cota">
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 col-lg-6 col-md-12 col-12"> 
                        <label for="timezone" class="form-label">{{ 'devices.edit.zone' | translate }}</label>
                        <select class="form-select" aria-label="Default select example" id="timezone" name="timezone" [(ngModel)]="contenido.timezone">
                            <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
                            <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
                            <option value="-10:00">(GMT -10:00) Hawaii</option>
                            <option value="-09:50">(GMT -9:30) Taiohae</option>
                            <option value="-09:00">(GMT -9:00) Alaska</option>
                            <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                            <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                            <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                            <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                            <option value="-04:50">(GMT -4:30) Caracas</option>
                            <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                            <option value="-03:50">(GMT -3:30) Newfoundland</option>
                            <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                            <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
                            <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
                            <option value="+00:00">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                            <option value="+01:00" selected="selected">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
                            <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                            <option value="+03:50">(GMT +3:30) Tehran</option>
                            <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                            <option value="+04:50">(GMT +4:30) Kabul</option>
                            <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                            <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                            <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
                            <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                            <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
                            <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                            <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                            <option value="+08:75">(GMT +8:45) Eucla</option>
                            <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                            <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
                            <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                            <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
                            <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                            <option value="+11:50">(GMT +11:30) Norfolk Island</option>
                            <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                            <option value="+12:75">(GMT +12:45) Chatham Islands</option>
                            <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
                            <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
                        </select>
                    </div>
                </div>

            </div> <!-- end Devices -->
        </div>

    </div>

    <div class="row p-0 m-0">
        <div class="col-12 p-0"> <!-- Devices -->
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="col-md-6 col-12 mt-1 pb-3">
                                <button *ngIf="change==false" type="button navb" class="btn btn-secondary text-light navb" routerLink="/devices" style="width: 100%">{{ 'sensors.cancel' | translate }}</button>
						        <button *ngIf="change==true" type="button navb" class="btn btn-secondary text-light navb" style="width: 100%" data-bs-toggle="modal" data-bs-target="#exampleModal8">{{ 'sensors.cancel' | translate }}</button>
                            </div>
                            <div class="col-md-6 col-12 mt-1 pb-3">
                                <button type="button navb" class="btn btn-info" style="width: 100%"  (click)="submit()" [ngClass]="{'disabled': !change}">{{ 'sensors.save' | translate }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex" style="justify-content: flex-end;">
                        <div class="col-md-6 col-12 mt-1 pb-3">
                            <button type="button" class="btn btn-danger navb me-3" data-bs-toggle="modal" style="width: 100%"  data-bs-target="#exampleModal9">{{ 'devices.edit.erase_disp' | translate }}</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>











<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="border-bottom: 0px;">
            <h3 class="modal-title">{{ 'devices.edit.m2.1' | translate }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
            <p class="not">{{ 'devices.edit.m2.2' | translate }}</p>
          </div>
          <div class="modal-footer" style="border-top: 0px;">
            <div class="row">
                <div class="col-5">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  routerLink="/devices">{{ 'sensors.exit' | translate }}</button>
                </div>
                <div class="col-7">
					<button type="button navb" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="btn btn-info" style="width: 100%" (click)="submit()" [ngClass]="{'disabled': !change}">{{ 'sensors.save' | translate }}</button>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="border-bottom: 0px;">
            <h3 class="modal-title">{{ 'devices.edit.m1.1' | translate }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
            <p class="not">{{ 'devices.edit.m1.2' | translate }}</p>
          </div>
          <div class="modal-footer" style="border-top: 0px;">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">{{ 'sensors.cancel' | translate }}</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="enable()" routerLink="/devices">{{ 'sensors.delete' | translate }}</button>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

