<div class="nav">
    <div class="col-lg-4 col-md-12 col-12">
      <div class="d-flex justify-content-between w-100">
        <a type="button navb" routerLink="/devices" class="btn btn-info navb me-3">Dispositivos</a>
        <a type="button" routerLink="/sensors" class="btn btn-info navb">Tipos de Sensores</a>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 d-none d-md-none d-lg-block ">
      <div class="d-flex justify-content-end">
        <img src="../../assets/logo.png">
      </div>
    </div>
</div>