<div class="mb-0 d-flex">
  <div class="col-9 col-md-5 p-0">
    <div class="nav nav-tabs mb-0 p-0" *ngIf="ruta2[2]!='edit' && ruta2[2]!='new'">
      <li class="nav-item" >
        <a class="nav-link me-3" aria-current="page" routerLink="/devices" [ngClass]="{'active': this.ruta=='/devices'}">{{ 'sensors.t1' | translate }}</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#" routerLink="/sensors" [ngClass]="{'active': this.ruta=='/sensors'}">{{ 'sensors.t2' | translate }}</a>
      </li>
    </div>
    <div class="nav nav-tabs mb-0 p-0" *ngIf="ruta2[2]=='edit' || ruta2[2]=='new'">
      <li class="nav-item" >
        <a class="nav-link me-3">&nbsp;</a>
      </li>
    </div>
  </div>
	<div class="col-3 col-md-7 p-0 pt-2">
    <div class="d-flex" style="justify-content: flex-end;">
      <div class="pe-3">
        <select (ngModelChange)="cambiarLenguaje()" class="form-select" aria-label="Default select example" id="sel_type" [(ngModel)]="activeLang">
          <option value="es" [ngClass]="{'selected': activeLang == 'es'}" >Español</option>
          <option value="en" [ngClass]="{'selected': activeLang == 'en'}">English</option>
        </select>
      </div>
      <div class="d-none d-xl-inline pe-3">
        <div class="d-flex justify-content-end">
          <img src="../../assets/logo.png" width="350px">
        </div>
      </div>
    </div>
  </div>
</div>