
<div id="map" #map>
	<div class="floating-range p-2 d-flex" style="justify-content: space-between">
	  <div class="floating-content">
		<button (click)="zoomOut()" class="btn btn-secondary"> - </button>
		<input type="range"
		  class="form-range px-2"
		  min="-2"
		  max="18"
		  [value]="zoom"
		  (input)="zoomChanged( zoomInput.value )"
		  #zoomInput
		>
		<button (click)="zoomIn()" class="btn btn-secondary"> + </button>
	  </div>
  	  <p>{{ sharedLat }} : {{ sharedLon }}</p>
	  <button *ngFor="let colorMarker of markers; let i = index" style="background-color: #0dcaf0" (click)="flyTo( colorMarker.marker)" class="ps-2 pe-2 d-flex justify-content-between btn btn-infp">
		<p class="p-0 m-0">Punto {{ i + 1 }}</p>
		<button type="button ps-4" class="btn-close" aria-label="Close" (click)="deleteMarker(i)"></button>
	  </button>
  
	  <button class="ms-3" id="botoncito" (click)="createMarker()"  class="btn btn-secondary">
		Seleccionar posicion
	  </button>
  
	</div>
  
  <span class="form-label">
	<!--{{ zoom | number:'2.2-2' }} ---> {{ currentLngLat }}
  </span>
  
</div>
  
  