<div class="cont over"> <!-- Devices -->	
	<div class="row">
		<div class="col-5"> <!-- Buscar -->
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="ua.multiSensor.raw" aria-label="Recipient's username" aria-describedby="basic-addon2">
				<div class="input-group-append">
				  <button class="btn btn-outline-secondary" type="button">Search</button>
				</div>
			</div>
		</div> 
		<div class="col-2"> <!-- Nuevo sensor -->
			<button type="button" class="btn btn-info" (click)="mostrar=true">New device</button>
		</div>
		<div class="col-5"> <!-- Paginador -->
			<nav aria-label="Page navigation example">
				<ul class="pagination">
				  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
				  <li class="page-item"><a class="page-link" href="#">1</a></li>
				  <li class="page-item"><a class="page-link" href="#">2</a></li>
				  <li class="page-item"><a class="page-link" href="#">3</a></li>
				  <li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>	

	
	<div class="row nuevo" *ngIf="mostrar">
		<div class="col-12"> 
			<div class="col-12">
				<div class="row">
					<h1>New Device</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label for="longitud" class="form-label">Id</label>
					<input type="text" class="form-control" id="longitud">
				</div>
				<div class="col-md-3">
					<label for="latitud" class="form-label">Type</label>
					<input type="text" class="form-control" id="latitud">
				</div>
				<div class="col-md-6">
					<label for="altura" class="form-label">Metric</label>
					<input type="text" class="form-control" id="altura">
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label for="longitud" class="form-label">Description</label>
					<input type="text" class="form-control" id="longitud">
				</div>
				<div class="col-md-4">
					<label for="altura" class="form-label">Error value</label>
					<input type="text" class="form-control" id="altura">
				</div>
				<div class="col-md-1">
					<label for="altura" class="form-label">Value min</label>
					<input type="text" class="form-control" id="altura">
				</div>
				<div class="col-md-1">
					<label for="altura" class="form-label">Value max</label>
					<input type="text" class="form-control" id="altura">
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-6">
					<a ng-click="ocultar = true" type="button navb"(click)="mostrar=false"  class="btn btn-secondary navb me-3" style="width: 100%">Cancel</a>
				</div>
				<div class="col-md-6">
					<a ng-click="ocultar = true" type="button navb" (click)="mostrar=false" class="btn btn-info navb me-3" style="width: 100%">Save</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12"> 
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">Id</th>
					<th scope="col">Type</th>
					<th scope="col">Metric</th>
					<th scope="col">Description</th>
					<th scope="col">Edit</th>
				  </tr>
				</thead>
				<tbody *ngFor="let _ of [].constructor(1)">
				  <tr (click)="mostrar2=true">
					<th scope="col">1</th>
					<td>Temperatura</td>
                    <td>ppm</td>
					<td>Sensorización CO2</td>
					<td style="color: black;"><i class="bi bi-pencil" ></i></td>
				  </tr>	
				</tbody>
			  </table>
						

			  <div *ngIf="mostrar2" class="row nuevo">
				<div class="col-12">
					<div class="col-12">
						<div class="row">
							<h1>CO2</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label for="longitud" class="form-label">Id</label>
							<input type="text" class="form-control" id="longitud">
						</div>
						<div class="col-md-3">
							<label for="latitud" class="form-label">Type</label>
							<input type="text" class="form-control" id="latitud">
						</div>
						<div class="col-md-6">
							<label for="altura" class="form-label">Metric</label>
							<input type="text" class="form-control" id="altura">
						</div>
					</div>
		
					<div class="row">
						<div class="col-md-6">
							<label for="longitud" class="form-label">Description</label>
							<input type="text" class="form-control" id="longitud">
						</div>
						<div class="col-md-4">
							<label for="altura" class="form-label">Error value</label>
							<input type="text" class="form-control" id="altura">
						</div>
						<div class="col-md-1">
							<label for="altura" class="form-label">Value min</label>
							<input type="text" class="form-control" id="altura">
						</div>
						<div class="col-md-1">
							<label for="altura" class="form-label">Value max</label>
							<input type="text" class="form-control" id="altura">
						</div>
					</div>
		
					<div class="row mt-4">
						<div class="col-md-6">
							<a ng-click="ocultar = true" type="button navb"(click)="mostrar2=false"  class="btn btn-secondary navb me-3" style="width: 100%">Cancel</a>
						</div>
						<div class="col-md-6">
							<a ng-click="ocultar = true" type="button navb" (click)="mostrar2=false" class="btn btn-info navb me-3" style="width: 100%">Save</a>
						</div>
					</div>
				</div>
			</div>
			
		</div> 
	</div>	

</div> <!-- end Sensors -->
