<div class="cont over"> <!-- Devices -->	
	
    <div class="row">
        <div class="col-lg-4 col-md-12 col-12"> <!-- Buscar -->
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control" placeholder="ua.multiSensor.raw" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div> 
        <div class="col-lg-4 col-md-4 col-4"> <!-- Nuevo sensor -->
			<button type="button" class="btn btn-info" (click)="mostrar=true">New sensor</button>
        </div>
        <div class="col-lg-4 col-md-8 col-8 d-flex justify-content-end"> <!-- Paginador -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>	

	
	<div class="row nuevo" *ngIf="mostrar">
		<div class="col-12"> 
			<div class="col-12">
				<div class="row">
					<h1>New Device</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label for="longitud" class="form-label">Id</label>
					<input type="text" class="form-control" id="longitud">
				</div>
				<div class="col-md-3">
					<label for="latitud" class="form-label">Type</label>
					<input type="text" class="form-control" id="latitud">
				</div>
				<div class="col-md-6">
					<label for="altura" class="form-label">Metric</label>
					<input type="text" class="form-control" id="altura">
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label for="longitud" class="form-label">Description</label>
					<input type="text" class="form-control" id="longitud">
				</div>
				<div class="col-md-4">
					<label for="altura" class="form-label">Error value</label>
					<input type="text" class="form-control" id="altura">
				</div>
				<div class="col-md-1">
					<label for="altura" class="form-label">Value min</label>
					<input type="text" class="form-control" id="altura">
				</div>
				<div class="col-md-1">
					<label for="altura" class="form-label">Value max</label>
					<input type="text" class="form-control" id="altura">
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-6 pb-2">
					<a ng-click="ocultar = true" type="button navb"(click)="mostrar=false"  class="btn btn-secondary navb me-3" style="width: 100%">Cancel</a>
				</div>
				<div class="col-md-6 pt-2">
					<a ng-click="ocultar = true" type="button navb" (click)="mostrar=false" class="btn btn-info navb me-3" style="width: 100%">Save</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12"> 
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">Id</th>
					<th scope="col">Type</th>
					<th scope="col">Metric</th>
					<th scope="col">Description</th>
					<th scope="col">Edit</th>
				  </tr>
				</thead>
				<tbody *ngFor="let _ of [].constructor(1)">
				  <tr (click)="mostrar2=true">
					<th scope="col">1</th>
					<td>Temperatura</td>
                    <td>ppm</td>
					<td>Sensorización CO2</td>
					<td style="color: black;">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
							<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
						</svg>
					</td>
				  </tr>	
				</tbody>
			  </table>
						

			  <div *ngIf="mostrar2" class="row nuevo">
				<div class="col-12">
					<div class="col-12">
						<div class="row">
							<h1>CO2</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label for="longitud" class="form-label">Id</label>
							<input type="text" class="form-control" id="longitud">
						</div>
						<div class="col-md-3">
							<label for="latitud" class="form-label">Type</label>
							<input type="text" class="form-control" id="latitud">
						</div>
						<div class="col-md-6">
							<label for="altura" class="form-label">Metric</label>
							<input type="text" class="form-control" id="altura">
						</div>
					</div>
		
					<div class="row">
						<div class="col-md-6">
							<label for="longitud" class="form-label">Description</label>
							<input type="text" class="form-control" id="longitud">
						</div>
						<div class="col-md-4">
							<label for="altura" class="form-label">Error value</label>
							<input type="text" class="form-control" id="altura">
						</div>
						<div class="col-md-1">
							<label for="altura" class="form-label">Value min</label>
							<input type="text" class="form-control" id="altura">
						</div>
						<div class="col-md-1">
							<label for="altura" class="form-label">Value max</label>
							<input type="text" class="form-control" id="altura">
						</div>
					</div>
		
					<div class="row mt-4">
						<div class="col-md-6  pb-2">
							<a ng-click="ocultar = true" type="button navb"(click)="mostrar2=false"  class="btn btn-secondary navb me-3" style="width: 100%">Cancel</a>
						</div>
						<div class="col-md-6 pt-2">
							<a ng-click="ocultar = true" type="button navb" (click)="mostrar2=false" class="btn btn-info navb me-3" style="width: 100%">Save</a>
						</div>
					</div>
				</div>
			</div>
			
		</div> 
	</div>	

</div> <!-- end Sensors -->
