  *{
    font-family: system-ui;
  }

  .input-1{
    width: 15%;
  }
  .input-2{
    width: 30%;
  }

  #map {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .floating-range {
    position: relative;
    bottom: 0px;
    z-index: 999;
    width: 40%;
  }

  .toast-cont{
    top: -10px;
    right: 0px;
    position: fixed;
  }

  .btn :hover{
    border-color: white
  }

  .mapboxgl-canvas{
    width: 100%;
  }

  .form-range::-moz-range-thumb{
    background-color: #6c757d;
  }
  .form-range::-webkit-slider-thumb{
    background-color: #6c757d;
  }

  .mark{
    background-color: #E3E3E3;
  }

  th{
    border-radius: 7px;
  }

  .floating-content {
    display: flex;
  }

  #menu {
    margin: 0.5em;
    font-size: medium;
    background-color: #fff;
    position: relative;
    width: max-content;
    padding: 5px;
    top: 0px;
    left: 0px;
    z-index: 999;
    border-radius: 5px;
    border: 1px #afafaf solid;
  }

  #menu input{
    margin-right: 0.5em;
  }

  .list-group {
    z-index: 999;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 85%;
  }

  .botoncito {
    z-index: 1000;
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .nav{
      margin: 1em;
  }
  .cc2{
    margin: 1em;
    margin-top: 0em;
  }

  h1,h2,h3,h4,p,a,.btn, span, label{
    font-weight: 500;
  } 

  .navb{
      width: 49%;
  }

  .cont{
      background-color: white;
      border-radius: 10px;
      height: 88vh;
  }
  
  .cont_recto{
    border-top-left-radius: 0px;
  }

  .cont0{
      margin: 1em;
      margin-top: 0em;
      margin-bottom: 0em;
  }

  .c10{
    width: 68.5%;
  }

  .c100{
    width: 98.5%;
  }

  .sensores_2_20{
    width: 26.5%;
  }
  .sensores_2_100{
    width: 96%;
  }

  .c20{
    width: 50%;
  }

  .c200{
    width: 100%;
  }

  .single-line {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .rev{
    flex-direction: column-reverse;
  }

  .cont1{
      background-color: white;
      padding: 1em;
      border-radius: 10px;
      margin-bottom: 1em;
      min-height: 86vh;
  }

  .cont2{
      background-color: white;
      border-radius: 10px;
      height: max-content;
      margin-bottom: 1em;
      min-height: 86vh;
  }

  .cont3{
      padding: 1em;
      padding-top: 0em;
      background-color: white;
      border-radius: 10px;
      height: min-content;
      margin-bottom: 1em;
  }

  .over{
      overflow-y: scroll; 
  }

  thead{
      background-color: #F2F2F2;
      border-radius: 10px;
  }

  .half{
      width: 50%;
  }

  app-devices-edit{
      display: flex;
  }

  a{
      text-decoration: none;
      color: #000;
  }

  .c1{
      height: min-content;
  }

  .c2{
      padding-top: 1em;
      height: max-content;
  }

  .c3{
      height: fit-content;
  }

  .c4{
      padding: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      height: fit-content;
  }

  .c5{
      height: 70vh;
  }

  .c6{
      padding: 1em;    
      padding-top: 0.5em;
      padding-bottom: 1em;
  }

  .nuevo{
      border-radius: 10px;
      background-color: #F2F2F2;
      padding: 1em;
      margin: 0.01em;
      margin-bottom: 1em;
  }

  .not{
      font-size: large;
  }

  .toggle {
      position: relative;
      display: inline-block;
      width: var(--width);
      height: var(--height);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      border-radius: var(--height);
      cursor: pointer;
    }

  .tt1 {
    --width: 130px;
    --height: calc(var(--width) / 3.5);
  }

  .tt2 {
    --width: 100px;
    --height: calc(var(--width) / 3.3);
  }
  

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #dc3545;
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: #198754;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
  }

  .t1{
    font-size: 15px;
  }

  .t2{
    font-size: 11px;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 25px;
    color: #fff;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 25px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
  }

  
  ::ng-deep .ng-select .ng-clear-wrapper .ng-clear {
    font-size: 40px !important;
    color: #969696;
    right: 7px;
    line-height: 0.7 !important;
  }

  ::ng-deep .ng-select .ng-clear-wrapper {
    height: 34px;
    line-height: 0.5;
    width: 30px !important;
  }

  ::ng-deep .ng-value{
    background-color: #E3E3E3;
    border-radius: 6px;
    margin-right: 0.5em;
    padding-bottom: 0.2em;
  }

  ::ng-deep .ng-dropdown-panel {  
    background-color: whitesmoke;;
  }
  ::ng-deep .ng-option{
    padding: 0.7em;
    padding-top: 0em;
  }

  ::ng-deep .ng-value-icon{
    font-size: 22px;
    padding-left: 0.4em;
    padding-right: 0.4em; 
 }

 ::ng-deep .ng-value-label{
  padding-right: 1em;
}