.nav{
    margin: 1em;
}

.navb{
    width: 31%;
}

.cont{
    background-color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    height: 90vh;
}

.cont0{
    margin: 1em;
    margin-bottom: 0em;
}

.cont1{
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.cont2{
    background-color: white;
    border-radius: 10px;
    height: max-content;
    margin-bottom: 1em;
}

.over{
    overflow-y: scroll; 
}

thead{
    background-color: #F2F2F2;
    border-radius: 10px;
}

.half{
    width: 50%;
}

app-devices-edit{
    display: flex;
}

a{
    text-decoration: none;
    color: #000;
}

.c1{
    height: min-content;
}

.c2{
    margin-top: 2em;
    height: max-content;
    max-height: 380px;
}

.c3{
    height: fit-content;
}

.c4{
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: fit-content;
}

.c5{
    height: 75vh;
}

.c6{
    padding: 1em;    
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.nuevo{
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 1em;
    margin: 0.01em;
    margin-bottom: 1em;
}

.not{
    font-size: large;
}