<div class=""> <!-- Devices -->	
	<div class="row">
		<div class="col-6"> <!-- Buscar -->
            <button type="button" class="btn btn-info">New sensor</button>
		</div> 
		<div class="col-6"> <!-- Paginador -->
			<nav aria-label="Page navigation example">
				<ul class="pagination">
				  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
				  <li class="page-item"><a class="page-link" href="#">1</a></li>
				  <li class="page-item"><a class="page-link" href="#">2</a></li>
				  <li class="page-item"><a class="page-link" href="#">3</a></li>
				  <li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
		</div>
	</div>	

	<div class="row">
		<div class="col-12"> 
			<table class="table">
				<thead>
				  <tr>
                    <th scope="col">Position</th>
					<th scope="col">Id</th>
					<th scope="col">Type</th>
					<th scope="col">Metric</th>
					<th scope="col">Enable</th>
					<th scope="col">Delete</th>
				  </tr>
				</thead>
				<tbody>
				  <tr *ngFor="let _ of [].constructor(20)">
                    <th scope="col2">1</th>
					<th scope="col">1</th>
					<td>Temperatura</td>
                    <td>ppm</td>
					<td class="d-flex">
                        <span class="badge rounded-pill text-bg-success me-2">Enable</span>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>   
                    </td>
					<td style="color: black;"><i class="bi bi-pencil" ></i></td>
				  </tr>
				</tbody>
			  </table>
		</div> 
	</div>	

</div> <!-- end Sensors -->
